h1 {
    font-size: 38px;
    font-weight: 700;
    margin: 10px !important;
    padding-bottom: 20px !important;
    /* color: rgb(61, 60, 60); */
    border-bottom: 2px solid gainsboro;
    text-align: center;
}

caption {
    padding-top: top;
    font-size: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}
.card {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 75%;
    margin-top: 15px;
    text-align: center;
    display: inline;
}

.card td, th {
    border: 1px solid #ddd;
    padding: 8px;
}

.card tr:nth-child(even){background-color: #f2f2f2;}

.card tr:hover {background-color: #ddd;}

.card th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #705fbed8;
    color: white;
} 

.card th {
    width: 45%;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    color:honeydew;
}

.button {
background-color: #2baa6d;
text-align: center;
color: white;
}

.pdf {
    border: 5px solid red;
    width: 20%;
    display: inline;
    float: right;
}

.flightView {
    width: 75%;
    border: 2px solid black;
    display: inline-block;
}

.chartBox {
    width: 40%;
    /* display: inline; */
}

.tables {
    border: 2px solid red;
    width: 60%;
    display: inline;
    float: right;
}