.onThisFlight {
  text-align: left;
  width: 35rem;
  height: 50%;
  margin-left: 5rem;
}

.editFlightForm {
  width: 35rem;
  margin-left: 5rem;
  align-content: center;
}

.flightList {
  list-style: none;
}

.input {
  display: block;
}
