.onThisFlight {
  text-align: left;
  width: 35rem;
  height: 50%;
  margin: 2rem;
}

.editFlightForm {
  width: 35rem;
  margin: 2rem;
  align-items: flex-end;
}

.flightList {
  list-style: none;
}

.input {
  justify-self: right;
  display: inline;
}

.purps {
  justify-content: right;
  font-family: "Quicksand", sans-serif;
  border-radius: 5px;
  justify-content: center;
  background-color: #846fdfde;
  margin: 2rem;
  box-shadow: 5px 5px 5px 5px #433779de;
  border: 2px groove #fcff5d;
}

.purps:hover {
  background-color: rgb(163, 146, 238);
  box-shadow: 7px 7px 10px 10px #433779de;
}