.peoplePickerControl{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    font-family: "Quicksand", sans-serif;
    /* font-size: 62.5%; */
}

.passengerTable{
    text-align: center !important;
    align-items: center !important;
    padding-left: 60px;
    padding-right: 60px;
    height: 100%;
}

.passengerTable thead th {
    padding-left: 15px !important;
    padding-right: 15px !important;
    width:11%;
    background-color: #705fbed8;
    color:honeydew;
    border: .5px solid #ddd;
    margin: -1px;
    border-radius: 5px;
}

.passengerTable thead tr {
    width: 100%;
}

.flightNameInput {
    float: right;
}

.btn {
    margin-right: 2rem;
}
