.nav {
  /* flex: layout; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding: 20px;
  margin: 0 0 30px;
  background-color: #04AA6D;
  overflow: hidden;
  margin-bottom: 50px;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 50px;
  font-weight: 400;
  color: white;
  padding-left: 10px;
  margin: 0;
}
.navLink {
  /* display: inline-block; */
  margin-left: 3rem;
  color: white;
  background-color: #04AA6D;
  text-align: center;
  font-weight: 400;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 50px;
  font-family: "Quicksand", sans-serif;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #04AA6D;
}

.h1 {
  color: white;
  font-size: 30px;
}



